@import url("./reset.css");

main {
    background-color: #693b69;
    min-height: 100dvh;
    overflow: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 70px;
    background-color: #511f52;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    min-width: 100%;
}

h1 {
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    color: #fff;
}

nav {
    padding: 10px;
    list-style: none;
    margin-right: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2px;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #9a9aff;
}


.home {
    min-height: 100vh;
}

.about {
    min-height: 100vh;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;   background-color: #000;
}


.box {
    position: relative;
    min-width: 100%;
    text-align: center;
    line-height: 100px;
}

.box .icon {
    color: #fff;
    align-items: center;
}

.icon i {
    margin-left: 20px;
    cursor: pointer;
    padding: 5px;
}

footer {
    padding: 5px;
    text-align: center;
    background-color: #000;
    color: #fff;
    position: relative;
    min-width: 100%;
    bottom: 0;
    left: 0;
}

