@import url("./reset.css");

header {
    position: relative;
    background-color: #00eaff;

}

h1 {
    float: left;
    padding: 15px;
}

nav {
    float: right;
    padding: 15px;
}

.container {
    min-height: 100vh;
}

